/*_________________Navbar section start_______________*/
/*Navbar Style*/
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Dancing+Script:wght@500&family=Euphoria+Script&family=Grand+Hotel&family=Hi+Melody&family=Lovers+Quarrel&family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --mainColor: #e64c66;
    --whiteColor: #e1e8f7;
    --blackColor: #1bbc9b;
    --lightDark: #e64c66;
    --lightGreen: #2d3e50;

}



/*_________________Navbar section Start_______________*/
a {
    text-decoration: none;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212529;
    height: 60px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    padding: 0 4%;
    font-size: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;






}

.cart__count {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #868686;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}



.navbar-logo {
    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 1px solid red;
    font-weight: 800;
    color: #e64c66;
    background-color: #fff;
    font-size: 1.5rem;
    font-family: 'Baloo Bhaina 2', cursive;


}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    background-color: #fff;
    font-size: 1.5rem;


}


.navbar-item {
    margin-right: 20px;

}

.navbar-link {
    text-decoration: none;
    padding: 10px;
    color: #868686;
}

.navbar-link:hover {
    color: #e65f0b;
}

.navbar-cart {
    margin-left: auto;
}

.navbar-cart-icon {
    font-size: 1.2rem;
}

.navbar-toggle {
    display: none;
}

a {
    color: #000;
}



/*_________________Navbar section End_______________*/

/*_________________Banner section Start_______________*/

/*_________________Banner section End_______________*/






/*_________________Products section Start_______________*/

.section {
    text-align: center;
    color: #e64c66;
    font-family: 'Grand Hotel', cursive;
}

.heading_style {

    text-align: center;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 6px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;





}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    gap: 1rem;
}

.cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.product__price {
    text-align: center;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #868686;
    font-family: 'Grand Hotel', cursive;
    font-size: 1.3rem;
}

.product-image img {
    width: 100%;
    height: 30vh;

}

.card {
    margin: 1%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: M#fff;
    width: 21.25%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px solid red;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;


    padding: 1%;


}


.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.2, 1.2);
}


.card__img {
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;


}

.card__info {
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    background-color: R#fff;



}

.card__category {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    color: #868686;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    background-color: #fff;
    text-transform: capitalize;
}

.btns button {
    padding: 10px 8px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: HI#868686;
    background-color: #fff;
    outline: none;
    border-radius: 4%;
    cursor: pointer;
    background-color: #e64c66;
    color: #fff;



}

.btns button:hover {
    background-color: #000;
    color: #fff;
}

.hot {
    position: absolute;
    top: 0;
    background-color: var(--lightGreen);
    padding: 5px 20px;
    color: white;
    font-family: 'Poppins', sans-serif;


}

.new {
    position: absolute;
    top: 0;
    background-color: var(--blackColor);
    padding: 5px 20px;
    color: var(--whiteColor);
    font-family: 'Poppins', sans-serif;
}



/*_________________Products section End_______________*/








/*_________________Product section End_______________*/



/*_________________Cart section start_______________*/



.cart-container {
    margin-top: 100px;
}

/*_________________Cart section End_______________*/




/*_________________Notfound section start_______________*/

.not__found {

    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    background-color: #fff;
    font-size: 2rem;
    align-items: center;
    color: #868686;
    margin-top: 10rem;




}

/*_________________Notfound  section End_______________*/

/*_________________Cart section start_______________*/
.cart-container {
    width: 90%;
    margin-top: 100px;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: 'Baloo Bhaina 2', cursive;
    margin-left: 8%;




}

.cart-detail {
    width: 70%;
    border: 1px solid red solid #fafafa;
    border-radius: 5px;


}



.cart-image {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;

}

.cart-image img {
    width: 100%;
    height: 100%;
}

.cart-product-name {
    width: 160px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.cart-price {
    width: 120px;
    padding: 0 15px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: var(--mainColor);

}

.increament {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid red solid var(--mainColor);
    font-size: 14px;
    color: var(--mainColor);
    border-radius: 5px;
    cursor: pointer;
}

.product-qunantity {
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    width: 70px;
    text-align: center;
}

.dec {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid red solid red;
    font-size: 14px;
    color: var(--mainColor);
    border-radius: 5px;
    cursor: pointer;

}

.product-total-price {
    display: inline-block;
    width: 190px;
    padding: 0 15px;
    text-align: center;

}

.delete-prodcut {
    border: none;
    color: var(--mainColor);
    cursor: pointer;
}

.heading {

    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    background-color: #fff;
    font-size: 2rem;
    margin-left: 10rem;
    align-items: center;
    color: #868686;




}

/*_________________Cart section End_______________*/

/* Slider Section Start */
.row {

    width: 100%;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: M#fff;





}

.product {
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: #fff;

    color: #868686;
    font-family: 'Poppins', sans-serif;









}


.product-thumb img {
    width: 90%;
    height: auto;
    margin: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid red solid #868686;


}

.title h5 {
    margin: 15px 0;

}

.price span {
    color: #868686;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.start i {
    margin-right: 5px;
    font-size: 12px;
    color: #868686;
}

.footer {
    margin-top: 20px;
}

.btn {
    display: flex;
    flex-direction: column;



}

.btn1 {
    text-decoration: none;
    color: #f7a205;


}

.btn-custom {
    cursor: pointer;
    text-align: center;
    background: var(--mainColor);
    font-size: 14px;
    font-weight: 400;
    padding: 12px 30px;
    transition: 0.3s;
    text-transform: uppercase;
    color: var(--mainColor);
    color: #868686;
}

.btn .primary {
    color: #fff;
    text-decoration: none;
}

.btn .primary:hover {
    background-color: #18181D;
}

.btn .second {
    background-color: #18181D;
    background-color: var(--redColor);
}




/* Slider section End */


/*_________________Cart summary section start_______________*/
.summary {
    background: white;
    padding: 13px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 50rem;
    position: absolute;
    top: 11rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.summary h3 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid var(--mainColor);
    color: var(--mainColor);



}

.total-items {
    display: flex;
    margin: 15px 0;
    border-bottom: 2px solid var(--mainColor);

}

.items {
    width: 70%;
    text-align: left;
    font-weight: normal;




}

.items-count {
    width: 50%;
    text-align: left;
    font-weight: bold;


}

.total-price-section {
    display: flex;
    margin: 15px 0;
    border-bottom: 2px solid var(--mainColor);
}

.just-title {
    width: 70%;
    text-align: left;
    font-weight: normal;

}

.items-price {
    width: 50%;
    text-align: right;
    font-weight: bold;
    color: var(--mainColor);
    margin-left: 50px;

}

.cart-sumary {
    width: 100%;
    font-size: 200px;
    text-align: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: 200px;
    color: var(--mainColor);


}

/* Card Start */

.roww {

    width: 100%;

    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: M#fff;



}

.containerr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;





}

.productt {
    overflow: hidden;
    width: 30%;
    text-align: center;
    background-color: #fff;
    color: #868686;
    font-family: 'Poppins', sans-serif;
    margin: .5rem;
    padding: .5rem;

}

.product-thumbb img:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.2, 1.2);
    transition: all ease-in .3s;
}


.product-thumbb img {
    width: 100%;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid red solid black;



}

.title h5 {
    margin: 15px 0;


}

.pricee span {
    color: #868686;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.start i {
    margin-right: 5px;
    font-size: 12px;

    color: #868686;
}

.footer {
    margin-top: 20px;

}

.btn {
    display: flex;

    flex-direction: column;


}

.btn1 {
    text-decoration: none;
    color: var(--mainColor);



}

.product-body {
    font-size: 1.4rem;
    margin: 2rem;
}

.btn-custom {
    cursor: pointer;
    text-align: center;
    background: var(--mainColor);
    font-size: 14px;
    font-weight: 400;
    padding: 12px 30px;
    transition: 0.3s;
    text-transform: uppercase;
    color: var(--mainColor);
    color: #868686;
}

.btnss button {
    padding: 10px 8px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: 500;
    color: HI#868686;
    background-color: #fff;
    outline: none;
    border-radius: 1%;
    cursor: pointer;
    background-color: #e64c66;
    color: #fff;
    width: 22rem;



}

.btnss button:hover {
    background-color: #000;
    color: #fff;
}

.btn .primary {
    color: #fff;
    text-decoration: none;
}

.btn .primary:hover {
    background-color: #18181D;
}

.btn .second {
    background-color: #18181D;
    background-color: var(--redColor);
}





/* Cart end */

/*_________________Cart symmary section End_______________*/



/*_________________Media query section start_______________*/


@media(max-width : 768px) {

    /* Navbar Section Start */
    .navbar {
        flex-wrap: wrap;
    }

    .navbar-logo {
        order: 2;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .bars {
        display: block;
    }

    .navbar-menu {
        order: 3;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        position: absolute;
        color: #2d3e50;

        top: 60px;
        left: 0;
        z-index: 1;
        padding: 20px 0;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle {
        order: 1;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
    }

    .navbar-toggle:focus {
        outline: none;
    }

    .navbar-toggle-icon {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        border-radius: 3px;
        position: relative;

        transition: transform 0.2s ease-out;
    }

    .navbar-toggle-icon:before,
    .navbar-toggle-icon:after {
        content: '';
        display: block;
        width: 100%;
        color: #fff;
        height: 100%;
        background-color: #212529;
        border-radius: 3px;
        position: absolute;
        transition: transform 0.2s ease-out;
    }

    .navbar-toggle-icon:before {
        top: -10px;
    }

    .navbar-toggle-icon:after {
        bottom: -10px;
    }

    .navbar-toggle.open .navbar-toggle-icon {
        transform: rotate(45deg);
    }

    .navbar-toggle.open .navbar-toggle-icon:before {
        transform: rotate(90deg) translate(8px, 8px);
    }

    .navbar-toggle.open .navbar-toggle-icon:after {
        transform: rotate(-90deg) translate(8px, -8px);
    }

    /* Navbar Section End */

    /* Product Section Start */
    /* For devices with a maximum width of 768px */
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 45%;
        margin: 1%;
    }
}

/* Product Section End*/



.headerText {
    padding: 0 15px;


}

header {
    width: 100%;
    height: 160px;


}

.container-fluid {
    text-decoration: none;
    list-style: none;

}

.headerText h1 {
    font-size: 20px;
}

.products {
    flex-direction: column;


}

.product {
    width: 100%;



}

.cart-container {
    flex-direction: column;

}

.cart {
    flex-direction: column;
    color: black;


}

.cart-detail {
    width: 80%;
}

.height {
    height: 130px;
}

.items-count {
    font-size: 20px;

}


.cart-image {
    padding: 15px 0;

}

.cart-product-name {
    padding: 15px 0;
    text-align: center;

}

.cart-price {
    padding: 15px 0;
}

.product-qunantity {
    padding: 15px 0;
    color: #000;
    font-weight: 800;
}

.product-total-price {
    padding: 15px 0;
}

.cart-summary {
    width: 10%;



}

.detail {
    width: 0%;
    color: #Be3b4c;
    font-weight: 800;

}

.shoppingCart {

    margin-left: 0px;


}

.cartShopping {
    margin-left: 0px;

}

.cartCount {
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 20px;

}







.right {
    width: 200px;

}

.product-name {
    margin-top: 50%;
}

.product-image {
    margin-top: 70px;
    width: 100%;
    height: 100px;

}



.hot {
    width: 72%;

}

.new {
    width: 70%;

}


@media(max-width : 768px) {
    .containerr {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .productt {
        width: 80%;
        height: auto;
    }

    .heading_style {

        font-size: 3rem;
    }

    .btnss {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

}


@media(max-width : 480px) {

    /* For devices with a maximum width of 480px */
    .containerr {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .productt {
        width: 85%;
        height: auto;
    }

    .heading_style {

        font-size: 1.9rem;
    }
    .summary{
        display: flex;
        flex-direction: column;
        color: #1bbc9b;
        margin: 0;
        position: relative;
        width: 10rem;
        left: -40px;
       
        
        
    }
    .cart{
       
        width: 100%;
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    
    }
.btnss {
    display: flex;
    justify-content: center;
    align-items: center;
   
}




}




/*_________________Media QUery section End_______________*/